* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 1.2vw;
    scroll-behavior: smooth;
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    overflow-x: hidden;

}

/* HEADER */

header {
    background-image: url("./images/background.png");
    background-size: cover;
    background-position-y: 90%;
    height: 100vh;
}

nav {
    transition: ease-in .5s;
}

.bg-light {
    box-shadow: 0 0.1em 0.1em #999999;
}

.nav-item {
    font-weight: bolder;
}

.nav-bonus {
    text-decoration: underline;
}

.header-in {
    height: 100%;
}

.profile-img {
    width: 22em;
    height: auto;
    margin-left: 10em;
}


.title-box {
    margin-left: 10em;
    padding-left: 1.2em;
    border-left: .2em solid white;
    height: 5em;
}

.title {
    font-size: 3em;
    color: #ffffff;
}

/* HEADER END */

/* ABOUT */
.about {
    height: 30em;
    background-color: #020202;
    padding: 6em 8em;
}
.about-text {
    color: #ffffff;
    max-width: 50vw;
}

.about-text-left {
    margin: 0;
    text-align: left;
    width: 100%;
}
.about-text-right {
    margin: 0;
    text-align: end;
    width: 100%;
}



.about-text:nth-child(1) {
    padding-left: 1em;
    border-left: 0.2em solid white;
    height: 4em;
}

.about-text:nth-child(2) {
    align-self: flex-end;
    flex-direction: column;
    text-align: end;
    margin-top: 4.5em;
    padding-right: 1em;
    border-right: 0.2em solid white;
    height: 4em;
}

.about-text:nth-child(2) span {
    text-decoration: underline;
}

/* END ABOUT */

/* PROJECT */
.project {
    position: relative;
    height: fit-content;
}

#project-svg {
    position: absolute;
    left: 50%;
    top: -1%;
    width: 26em;
    margin-left: -13em;
}

.project-in {
    width: 50vw;
    padding: 2em 3em 5em 3em;
    height: fit-content;
}

.project-in:nth-child(2) {
    background-color: #8E602F;
}

.project-in:nth-child(3) {
    background-color: #2C251D;
}

.project-in a {
    margin-top: 9em;
    width: 80%;
}

.project-in img {
    width: 100%;
    height: auto;
}

.project-in h3, h4 {
    width: 80%;
    margin-top: 1em;
    font-size: 1.3em;
    text-align: center;
    color: white;
}

.project-in h4 {
    text-align: inherit;
}

.project-img:hover {
    opacity: 0.7;
    cursor: pointer;
}

.project-link {
    color: white;
    text-decoration: underline;
    opacity: 0.7;
}

.project-link:hover {
    color: white;
    opacity: 1;
    text-decoration: none;
}

/* END PROJECT */

/* EXPERIENCE */

.experience {
    position: relative;
    height: fit-content;
    background-color: #BD7117;
}

#vector {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
}

.experience-in {
    padding: 9em 5em 7em 5em;
}

.experience-in h2 {
    color: black;
    font-size: 3em;
}

.experience-content {
    margin-top: 9em;
}

.experience-content img {
    width: 8em !important;
    height: 8em !important;
}

.experience-text {
    margin-left: 3em;
    width: 30em;
    padding-left: 1em;
    border-left: .2em solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.experience-text h3 {
    color: white;
    font-size: 2em;
}

.experience-text p {
    font-size: 1.5em;
    color: #454545;
}

/* END EXPERIENCE */

/* FOOTER */

footer {
    background-color: #222121;
    height: fit-content;
    padding: 3em;
}

footer h3 {
    color: white;
    font-size: 2em;
}

.footer-icon-group {
    width: 20em;
}

.footer-icon-group img {
    width: 4em;
    height: auto;
}

/* END FOOTER */

/* TAMBAHAN UNTUK 2nd PAGE */
.more {
    height: 24em !important;
}
/* END */



/* RESPONSIVE */

@media only screen and (max-width: 780px) {
    html {
        font-size: 1.6vw;
    }
    .title-box, .profile-img {
        margin-left: 0;
    }

    .title-box {
        margin-top: 4em;
        border-left: 0;
        padding: 0;
        padding-top: .5em;
        border-top: .3em solid rgba(255, 255, 255, 0.4);
    }

    .experience {
        font-size: 1.4vw;
    }
}

@media only screen and (max-width: 430px) {
    html {
        font-size: 2vw;
    }
    .project-in {
        width: 100vw;
        font-size: 2.2vw;
    }
    .project-in h3 {
        width: 60%;
    }
    #vector {
        display: none;
    }
    .more {
        width: 50vw;
    }
    .exp-1 #vector {
        display: inline-block;
    }

    .modal-content {
        margin: auto 2em;
        border: none;
    }
}

